[submodule "_submodules/TypeScript"]
	path = _submodules/TypeScript
	url = https://github.com/microsoft/TypeScript.git
	branch = tsgo-port
[submodule "swift-package"]
	path = swift-package
	url = https://github.com/zshannon/typescript-go-swift.git
